.Canvas {
  position: fixed;
  height: 100vh;
  width: calc(100vw - 300px);
  top: 0;
  left: 300px;
  overflow: scroll;
}
.Canvas-dropper-item {
  min-height: 90px;
  border: 2px dashed #99aab5;
  background-color: #2c2f33;
  padding: 20px 0;
  margin: 20px 0;  
}
.Canvas-dropper-item:before {
  width: 100%;
  display: block;
  content: "Drop here!";
  text-align: center;
  line-height: 90px;
  color: #99aab5;
}
.with-children {
  height: 100%;
  border: none;
  background-color: transparent;
  margin: 0;
}
.with-children:before {
  display: none;
}
.Canvas-btns {
  z-index: 1000;
  left: auto;
}
.Canvas-btns .btn {
  font-size: 16px;
  line-height: 16px;
  padding: 10px;
  height: 40px;
  width: 40px;
  margin: 5px;
  text-align: center;
}
.tooltip-inner {
  background: white;
  color: inherit;
}
.bs-tooltip-top.tooltip .arrow:before {
  border-top-color: white;
}
.ps__rail-x,
.ps__rail-y {
  z-index: 1100;
}
.Canvas .Canvas-dropper-container {
  padding-bottom: 40px;
}